.homepage {
  width: 100%;
}
#my-class {
  height: 5px;
}
#navbar-logo-image {
  height: 130px;
  width: 130px;
  mix-blend-mode: multiply;
}

.homepage blockquote {
  width: 100%;
  padding: 0 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  background-color: whitesmoke;
}

.homepage blockquote h4 {
  font-size: 2.5rem;
  font-weight: 200;
  color: blue;
}

.homepage blockquote button {
  background-color: transparent;
  cursor: pointer;
}

.homepage blockquote button i {
  font-size: 3.5rem;
}

.homepage figure {
  width: 95%;
  margin: 1rem auto;
  position: relative;
}

.homepage figure video {
  width: 100%;
}

.homepage figure h1 {
  position: absolute;
  bottom: 40%;
  left: 10%;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
}

@media (max-width: 480px) {
  .homepage blockquote {
    width: 100%;
    padding: 0 !important;
  }

  .homepage figure h1 {
    font-size: 1.5rem;
  }

  #navbar-logo-image {
    width: 90px;
    height: 90px;
  }
  .homepage blockquote button i {
    font-size: 2.0rem;
  }
  .homepage blockquote h4 {
    font-size: 1.5rem;
    font-weight: 200;
    color: blue;
  }
}
