.navbar {
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: relative;
}
.links{
color: white;
}
  


.navbar blockquote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navbar h1 {
  font-size: 2.5rem;
}

.navbar blockquote mark {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.navbar blockquote mark:hover {
  text-decoration: none;
}

.navbar blockquote mark:last-child {
  background-color: orangered;
  padding: 1rem;
}

.navbar-service {
  display: none;
  position: absolute;
  top: 5rem;
  right: 20rem;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.803);
  border: 1px solid black;
}

.navbar-service ul li {
  list-style-position: inside;
  color: black;
  padding: 1rem;
  border-bottom: 1px solid dashed;
  cursor: pointer;
}

.navbar-service ul li:hover {
  background-color: rgba(225, 107, 10, 0.874);
  text-decoration: underline;
}
